.blog-container {
    width: 80%;
    max-width: 900px;
    margin: 150px auto;
    padding: 20px;
}

.blog-container h1 {
    color: #2c4d40;
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 30px;
    text-align: center;
}

.blog-post {
    background-color: #e4d4b2;
    padding: 25px 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    font-size: 2rem;
    color: #2c4d40;
    margin-bottom: 5px;
}

.blog-post .date {
    font-size: 0.9rem;
    color: #62796a;
    margin-bottom: 15px;
}

.blog-post p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #2c4644;
}